.ant-card-meta-title {
  margin-bottom: 0px!important;
}
.ant-card {
  background-color: transparent;
}
.ant-card-bordered {
  border: 0;
  border-top: 1px solid #f0f0f0;
}
.animwrap {
  font-size: 22px;
  font-weight: 500;
  padding: 30px;
  border-radius: 130px;
}
.animwrap h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 0;
}
.animwrap h2 {
  margin-top: 60px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}
.animwrap h3 {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.btn {
  background-color: transparent;
  border: 1px solid #04243b;
  border-radius: 0.6em;
  color: #04243b;
  cursor: pointer;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1;
  margin-top: 20px;
  padding: .7em 4.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover {
  color: #fff;
  outline: 0;
}
.first {
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
  box-shadow: 0 0 40px 40px #04243b inset;
}

/*особлива модалка для mainpage*/
.ant-modal.mainpage-modal .ant-modal-content {
  border-radius: 30px;
  background-color: transparent!important;
}
.ant-modal-close {
  z-index: 1001;
}
/* Для вчительського журналу обліку*/
.editable-cell {
  position: relative;
}
.editable-cell-value-wrap {
  cursor: pointer;
}
.marks-wrapper.ant-form-item {
  max-width: 31px!important;
}
.marks-wrapper.ant-form-item:first-child {
  max-height: 23px!important;
}
.ant-form-item-control-input {
  min-height: auto!important;
  width: auto!important;
}
.ant-input-number-input {
  text-align: center!important;
}
.ant-input-sm{
  padding: 0 0px!important;
  text-align: center;
}

/*Для динамічного додавання подій в розділі предмети*/
.ant-space-item .ant-form-item{
  margin-bottom: 20px!important;
}
/*Для полів реєстрації та кнопки*/
.formreg .ant-form-item {
  margin-bottom: 10px!important;
}
.formreg .ant-form-item:last-child .ant-btn {
  height: auto!important;
}
/*Для номеру класу в налаштуваннях*/
.ant-form-text {
  padding-top: 4px;
  font-size: 15px;
}
/*Для зміни заднього фону при autocomplete chrome*/
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
  color: #999 !important; /* цвет текста */
}
.centered-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Зменшення відступу між головними табами і Журнал-Загальне*/
.mainTab .ant-tabs-nav {
  margin: 0 0 5px!important;
}
