@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.logo {
    height: 32px;
    margin: 12px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #f2f6f8;
    letter-spacing: 3px;
}
.sider {
    overflow: auto;
    height: 100vh;
    position: sticky!important;
    left: 0;
    top: 0;
    bottom: 0;
}
.trigger {
    padding: 0 30px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
    float: right;
    margin-bottom: 8px;
}
.trigger:hover {
    color: #1890ff;
}
.dangerButton {
    color: red!important;
}
.subMenuItem {
    padding-left: 42px!important;
}
