.rightSider {
    border-left: 2px rgb(224, 224, 224) solid;
    overflow: hidden;
    height: 100vh;
    position: sticky!important;
    right: 0;
    top: 0;
    bottom: 0;
}
.authProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    font-size: 15px;
    border-bottom: 2px rgb(224, 224, 224) solid;
}
.name {
    margin-left: 15px;
    font-weight: 700;
}
.wrapper {
    width: 300px;
}
.eventCard{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.classTeacher{
    font-size: 11px;
}
.info {
    width: 250px;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
}
.teacherName {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.about {
    margin-top: 20px;
}
.about span {
    font-weight: 700;
}
.about p{
    font-weight: 600;
    font-size: 12px;
    color: rgba(0,0,0,.5);
    margin-top: 5px;
}
