.siteLayout .siteLayoutBackground {
    background: #fff;
}
.tabsContainer {
    padding: 20px;
}
.btn_wrap {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    align-items: center;
}
.primary_btn {
    border-color: #1890ff!important;
    color: #1890ff!important;
}
