@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.layout {
    background-image: linear-gradient(rgba(21, 38, 73, 0.8), rgba(21, 38, 73, 0.8)), url('../img/bg_mainPage.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header{
    background: transparent !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    color: #eeeeee;
    font-size: 50px;
    max-width: 700px;
    text-align: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
}
.footer {
    background: transparent !important;
}
.logo {
    color: #eeeeee;
    font-size: 20px;
}
.headerButton {
    margin-left: 10px;
}
.container h1 {
    font-weight: bold;
    margin: 0;
}

.container h2 {
    text-align: center;
}

.container p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.container span {
    /*font-size: 12px;*/
}

.container a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.container button {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 11px 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.container button:hover {
    transform: scale(1.05);
    background-color: #FF4B2B;
}

.container button:focus {
    outline: none;
}

.container button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
    cursor: pointer;
    margin-top: 15px;
}

.formInner {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

/*.formInner .ant-form-item-control {*/
/*    width: 100%!important*/
/*}*/

/*.container input {*/
/*    background-color: #eee;*/
/*    !*border: none;*!*/
/*    !*padding: 12px 15px;*!*/
/*    !*margin: 8px 0;*!*/
/*    width: 100%!important;*/
/*}*/

.container {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.formContainer {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.2s ease-in-out;
}

.signInContainer {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.rightPanelActive .signInContainer {
    transform: translateX(100%);
}

.signUpContainer {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.rightPanelActive .signUpContainer {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.2s;
}

@keyframes show {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }

    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlayContainer {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    z-index: 9;
}

.container.rightPanelActive .overlayContainer{
    transform: translateX(-100%);
}

.overlay {
    background: #FF416C;
    background: -webkit-linear-gradient(to right, #023d70, #010835);
    background: linear-gradient(to right, #024985, #03094e);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: rgba(255, 255, 255, 0.9);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
}

.container.rightPanelActive .overlay {
    transform: translateX(50%);
}

.overlayPanel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
}

.overlayLeft {
    transform: translateX(-20%);
}

.container.rightPanelActive .overlayLeft {
    transform: translateX(0);
}

.overlayRight {
    right: 0;
    transform: translateX(0);
}
.overlayRight h1 {
    color: white;
}
.overlayLeft h1 {
    color: white;
}

.container.rightPanelActive .overlayRight {
    transform: translateX(20%);
}


/*.radio {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    width: 100%;*/
/*    margin-bottom: 20px;*/
/*}*/
.radio span{
    font-size: 14px;
}
.radio {
    margin-bottom: 20px;
}
.radioItem input{
    width: auto;
    margin: 10px;
}

.registerForm {
    width: 100% !important;
    margin-top: 10px!important;
}

