.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    color: white;
}

.trigger:hover {
    color: #1890ff;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.siteLayout .siteLayoutBackground {
    background: #fff;
}

/*right sidebar*/
.wrapper {
    padding: 5px;
}
.rightSider {
    /*background: rgba(255, 255, 255, 0.3);*/
    border-left: 2px rgba(0, 21, 41, .15) solid;
}
.authProfile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    font-size: 15px;
    border-bottom: 1px rgba(0, 21, 41, .15) solid;
    background: #fff;
}
.name {
    margin-left: 15px;
    font-weight: 600;
}
/*.ant-picker-calendar, .ant-picker-calendar-mini, .ant-picker-panel{*/
/*    background: #0a28ee!important;*/
/*}*/
